@{
    ViewData["Title"] = "Catalog";
}
<html lang="en">


<link rel="shorcut icon" type="image/ico" href="image/icon.ico" />
<link rel="stylesheet" type="text/css" href="css/cite.css" />
<body>
<div class="Header"><div class="Card"></div></div>
<div class="Conteiner"></div>
<div class="footer"></div>

</body>
</html>