@{
    ViewData["Title"] = "Catalog";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/ico" href="~/image/icon.ico" />
    <link rel="stylesheet" type="text/css" href="~/css/cite.css" />
</head>
<body class="Cmain">
    <div class="CHeader">
        <div class="CNT">
            <div class="Clogo">
                <img class="CimgLogo"  src="~/image/logo.png">
                <div class="CAptecaName">
                <p>Tabletki</p>
                <p>APT.UA</p>
            </div>
            </div>
            <form class="CSearchField">
                <button class="CCatalog">
                    <img src="~/image/lines.png">
                    <p>Catologe</p>
                    
                </button>
                <div class="CInputBorder">
                    <input type="text" placeholder="Searching...">
                    <button class="CSerch" ><img src="~/image/search.png"></button>
                </div>
            </form>
            <div class="CHelpField">
            <button class="CHelpFieldButton"> <img src="~/image/mag.png"></button>
            <button class="CHelpFieldButton"> <img src="~/image/person.png"></button>
            <button class="CHelpFieldButton"> <img src="~/image/phone.png"></button>
        </div>
        </div>
        <div class="CND">
        <button>
            <p>Medicine</p>
            <img src="image/pill.svg" alt="Medicine">
        </button>
        <button>
            <p>Vitamins</p>
            <img src="image/mpills.svg" alt="Vitamins">
        </button>
        <button>
            <p>Hygiene</p>
            <img src="image/hygiene.svg" alt="Hygiene">
        </button>
        <button>
            <p>Makeup</p>
            <img src="image/makeup.svg" alt="Makeup">
        </button>
        <button>
            <p>For Children's</p>
            <img src="image/toy.svg" alt="For Children's">
        </button>
         <button>
            <p>Back</p>
            <img src="image/close.png" alt="Back">
        </button>
    </div>
    <div class="Container"></div>
        
  <!-- <footer>
    <div class="footer-content">
        <div class="footer-section about">
            <h3>About Us</h3>
            <p>We care about your health and well-being. Your health is our priority.</p>
        </div>
        <div class="footer-section contact">
            <h3>Contacts</h3>
            <p>Tell: 0961488148</p>
            <p>Email: TabletkiAptUA@gmail.com</p>
        </div>
        <div class="footer-section links">
            <h3>Links</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 TabletsAptUA. All rights reserved.
    </div>
</footer>-->
</body>
</html>