
@{
    ViewData["Title"] = "Cabinet";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/ico" href="~/image/icon.ico" />
    <link rel="stylesheet" type="text/css" href="~/css/cite1.css" />
    <link rel="stylesheet" type="text/css" href="~/css/cabinet.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="Cmain">
    <div class="CHeader">
        <div class="CNT">
            <div class="Clogo">
                <img class="CimgLogo"  src="~/image/logo.png">
                <div class="CAptecaName">
                <p>Tabletki</p>
                <p>APT.UA</p>
            </div>
            </div>
            <form class="CSearchField">
                <button class="CCatalog">
                    <img src="~/image/lines.png">
                    <p>Catologe</p>
                    
                </button>
                <div class="CInputBorder">
                    <input type="text" placeholder="Searching...">
                    <button class="CSerch" ><img src="~/image/search.png"></button>
                </div>
            </form>
            <div class="CHelpField">
            <button class="CHelpFieldButton"> <img src="~/image/mag.png"></button>
            <button class="CHelpFieldButton"> <img src="~/image/person.png"></button>
            <button class="CHelpFieldButton"> <img src="~/image/phone.png"></button>
        </div>
        </div>
        <div class="CND">
        <button onclick="toCategory('Medicine')">
            <p>Medicine</p>
            <img src="~/image/pill.svg" alt="Medicine">
        </button>
        <button  onclick="toCategory('Vitamins')">
            <p>Vitamins</p>
            <img src="~/image/mpills.svg" alt="Vitamins">
        </button>
        <button onclick="toCategory('Hygiene')">
            <p>Hygiene</p>
            <img src="~/image/hygiene.svg" alt="Hygiene">
        </button>
        <button onclick="toCategory('Makeup')">
            <p>Makeup</p>
            <img src="~/image/makeup.svg" alt="Makeup">
        </button>
        <button onclick="toCategory('Children')">
            <p>For Children's</p>
            <img src="~/image/toy.svg" alt="For Children's">
        </button>
         <button onclick="toHome()">
            <p>Back</p>
            <img src="~/image/close.png" alt="Back">
        </button>
    </div>
    </div>
<div class="CabinetContainer">
    <div class="LeftSection">
        <div class="CFConteiner">
            <div class="FConteiner">
                <img src="https://root.tblcdn.com/img/goods/af45c99d-56c8-41d0-a9de-165885bad426/1/img_0.jpg?v=AAAAAAnhZ4I">
            </div>
             <div class="BConteiner">
                <button onclick="toggleInputs(event)">Edit</button>
                <button>Product editor</button>
                <button>Order List</button>
             </div>
        </div>
    </div>
    <div class="RightSection">
        <div class="BorderName"><p>You Profile</p></div>
        <div class="CabinetsWords">
           <div><p>Name :</p><input type="text" class="no-input" readonly></div>
           <div><p>Name :</p><input type="text" class="no-input"></div>
           <div><p>Name :</p><input type="text" class="no-input"></div>
           <div><p>Name :</p><input type="text" class="no-input"></div>
           <div><p>Name :</p><input type="text" class="no-input"></div>
           <div><p>Name :</p><input type="text" class="no-input"></div>
           <div><p>Name :</p><input type="text" class="no-input"></div>
           
        </div>
         <div class="BorderName"><p>History Order</p></div>
    <div class="TableOrder">
<table>
    <thead>
        <tr class="HederTable">
            <th>id</th>
            <th>Дата</th>
            <th>Цена</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        <tr class="itemTable">
            <td>1</td>
            <td>20.05.2024</td>
            <td>5000</td>
            <td>Виконано</td>
        </tr>
        <tr class="itemTable">
            <td>1</td>
            <td>20.05.2024</td>
            <td>5000</td>
            <td>Виконано</td>
        </tr>
        <tr class="itemTable">
            <td>1</td>
            <td>20.05.2024</td>
            <td>5000</td>
            <td>Виконано</td>
        </tr>
    </tbody>
</table>
    </div>
        
    </div>
</div>


</div>
<script>
function toggleInputs(event) {
        event.preventDefault(); // Предотвращаем переход по ссылке
        var inputs = document.querySelectorAll('.CabinetsWords input');
        inputs.forEach(function(input) {
            if (input.classList.contains('no-input')) {
                input.classList.remove('no-input');
                input.classList.add('input');
                input.removeAttribute('readonly');
            } else {
                input.classList.remove('input');
                input.classList.add('no-input');
                input.setAttribute('readonly', true);
            }
        });
    }
</script>


<script>
    function toHome() {
       $.ajax({
        type: "POST",
        url: "/Catalog/Index",
        success: function (response) {
            console.log("Метод контроллера успешно вызван");
            window.location.href = "/"; 
        },
        error: function (xhr, status, error) {
            console.error("Произошла ошибка при вызове метода контроллера:", error);
        }
    });
}
function toCategory(word) {
    $.ajax({
        type: "POST",
        url: "/Category/Index",
        data: { word: word }, // Pass the 'word' parameter to the controller
        success: function (response) {
            console.log("Метод контроллера успешно вызван");
            window.location.href = "/Category/Index?word=" + word; // Redirect to the category page with the word parameter
        },
        error: function (xhr, status, error) {
            console.error("Произошла ошибка при вызове метода контроллера:", error);
        }
    });
}
function toProduct(id) {
    $.ajax({
        type: "POST",
        url: "/Product/Index",
        data: { id: id}, 
        success: function (response) {
            console.log("Метод контроллера успішно викликано");
            window.location.href = "/Product/Index?id=" + id; // Redirect to the category page with the word parameter
        },
        error: function (xhr, status, error) {
            console.error("Сталася помилка при виклику методу контролера:", error);
        }
    });
}
</script>

</body>

</html>